html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    /*font-size: 100%;
    font: inherit;*/
    vertical-align: baseline;
}
.container {
    margin: 0 10px;
    background: #ccc;
}
header {
    margin: 0;
    color: #fff;
    height: 50px;
    background: #000;
}
ul {
    text-align: center;
    display: flex;
}
ul li {
    flex-basis: 20%;
    list-style-type: none;
    padding-top: 15px;
}
a {
    text-decoration: none;
    color: #fff;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
h2 {
    text-align: center;
    margin: 50px auto;
}
section ul {
    display: flex;
    flex-direction: column;
}
span {
    margin-left: 225px;
}
.link a {
    color: blue;
    margin: 80px auto;
}
footer {
    text-align: center;
    margin: 20px 10px;
}
@media screen and (min-width: 340px) {
    .link {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    @media screen and (min-width: 810px) {}
}
